<%= simple_form_for(@salesperson) do |f| %>
  <%= f.error_notification %>

  <div class="field_holder">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :team %>
      <%= f.text_field :team %>
    </div>
    <div class="actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
