<div class="header">
  <span style="float: left;"><%=image_tag("Logo.png")%></span>
  <h1>Salesperson: <%= @salesperson.name %></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="field_holder">
  <p>
    <strong>Name: </strong>
    <%= @salesperson.name %>
  </p>
  <p>
    <strong>Team: </strong>
    <%= @salesperson.team %>
  </p>
</div>
<div class="ticket_holder">
  <h2>Tickets assigned</h2>
  <% if @salesperson.tickets.length == 0 %>
    <p> No tickets assigned </p>
  <% end %>
  <% @salesperson.tickets.each do |ticket| %>
    <p>
      <strong>Created on:</strong>
      <%= ticket.date_created %>
    </p>

    <p>
      <strong>Feedback:</strong>
      <%= ticket.feedback %>
    </p>
  <% end %>
</div>

<div style="clear:both;"></div>
<div style="margin: 20px">
  <%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
  <%= link_to 'Back', salespeople_path %>
</div>
<%= render 'footer' %>
