<div class="header">
  <span style="float: left;"><%=image_tag("Logo.png")%></span>
  <h1>Salesperson: <%= @salesperson.name %></h1>
</div>
<p id="notice"><%= notice %></p>
<div class="field_holder">
  <div class="field">
    <strong>Name:</strong>
    <%= @salesperson.name %>
  </div>
  <div class="field">
    <strong>Team: </strong>
    <%= @salesperson.team %>
  </div>
  <div style="margin: 20px">
    <%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
    <%= link_to 'Back', salespeople_path %>
  </div>
</div>

<div class="transaction_holder">
  <h2>Transactions</h2>
  <% if @salesperson.transactions.length == 0 %>
    <h3>No transactions made with this salesperson</h3>
  <% end %>
  <% @salesperson.transactions.each do |transaction| %>
    <p>
      <strong>Product:</strong>
      <%= transaction.product.name %>
    </p>
    <p>
      <strong>Client:</strong>
      <%= transaction.client == nil ? "No one" : transaction.client.name %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= transaction.status %>
    </p>
    <p>
      <strong>Open Date:</strong>
      <%= transaction.open_date %>
    </p>
    <p>
      <strong>Close Date:</strong>
      <%= transaction.close_date %>
    </p>
    <br>
  <% end %>
</div>

<div class="ticket_holder">
  <h2>Tickets Assigned</h2>
  <% if @salesperson.tickets.length == 0 %>
    <p> No tickets assigned </p>
  <% end %>
  <% @salesperson.tickets.each do |ticket| %>
    <p>
      <strong>Created on:</strong>
      <%= ticket.date_created %>
    </p>
    <p>
      <strong>Feedback:</strong>
      <%= ticket.feedback %>
    </p>
  <% end %>
</div>

<div style="clear:both;"></div>
<%= render 'footer' %>
