<p id="notice"><%= notice %></p>

<h1>Client: <%= @client.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @client.entity_type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @client.phone_no %>
</p>

<p>
  <strong>Fax no:</strong>
  <%= @client.fax_no %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Career:</strong>
  <%= @client.career %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Entry point:</strong>
  <%= @client.entry_point %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @client.entry_date %>
</p>

<p>
  <strong>Size:</strong>
  <%= @client.size %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @client.contact_name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @client.industry %>
</p>

<br>
<h2>Tickets</h2>
<% @client.tickets.each do |ticket| %>
  <p>
    <strong>Created on:</strong>
    <%= ticket.date_created %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= ticket.feedback %>
  </p>
  <p>
    <%= link_to 'Destroy Ticket', [ticket.client, ticket],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<br>

<h2>Add a ticket:</h2>
<%= form_for([@client, @client.tickets.build]) do |f| %>
  <p>
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created, :start_year => 2010, :end_year => 2016 %>
  </p>
  <p>
    <%= f.label :Feedback %><br>
    <%= f.text_area :feedback %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<%= render 'footer' %>
