<p id="notice"><%= notice %></p>
<div class="field_holder">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
<div class="transaction_holder">
  <h2>Transactions</h2>
  <% if @product.transactions.length == 0 %>
    <h3>No transactions made for this product</h3>
  <% end %>
  <% @product.transactions.each do |transaction| %>
    <p>
      <strong>Client:</strong>
      <%= transaction.client.name %>
    </p>
    <p>
      <strong>Sales Representative:</strong>
      <%= transaction.salesperson == nil ? "No one" : transaction.salesperson.name %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= transaction.status %>
    </p>
    <p>
      <strong>Open Date:</strong>
      <%= transaction.open_date %>
    </p>
    <p>
      <strong>Close Date:</strong>
      <%= transaction.close_date %>
    </p>
    <br>
  <% end %>
</div>

<div class="return_holder">
  <h2>Returns made</h2>
  <% if @product.returns.length == 0 %>
    <p> No returns for this product </p>
  <% end %>
  <% @product.returns.each do |single_return| %>
    <p>
      <strong>Returned by:</strong>
      <%= single_return.client.name %>
    </p>
    <p>
      <strong>Reason for return:</strong>
      <%= single_return.reason %>
    </p>
    <p>
      <strong>Date of return:</strong>
      <%= single_return.return_date %>
    </p>
  <% end %>
</div>
